.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_4 {
  color:#FFFFFF;
}
.box_3 {
}
.shape {
}
.ellipse {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.image {
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
._流程形状 {
}
.html_button {
  text-align:center;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.marker {
  color:#FFFFFF;
}
.flow_shape {
}
.icon {
}
._文本段落 {
  text-align:left;
}
._图片 {
  color:#000000;
}
._垂直线 {
}
._形状 {
}
._文本框 {
  color:#000000;
  text-align:left;
}
._文本段落1 {
  text-align:left;
}
._形状1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._文本框1 {
  color:#000000;
  text-align:left;
}
._复选框 {
  text-align:left;
}
._图片1 {
  color:#000000;
}
._图片2 {
}
